pytest==9.0.3
scenedetect==0.6.7.1
PyYAML==6.0.3
opencv-python-headless==4.13.0.92
requests==2.32.5
python-dotenv==1.1.1
openpyxl==3.1.5
fastapi==0.120.4
uvicorn==0.38.0
python-multipart==0.0.20
itsdangerous>=2.0
